html, body {
  background-color: aqua;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

#game {
  flex: 1 1 auto;
  display: flex;
  padding: 2%;
  box-sizing: border-box;
}

#ship {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-color: white;
  border: solid black 1px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  box-sizing: border-box;
}

#ship div {
  margin: 0;
  aspect-ratio: 1 / 1;
  border: #8338ec solid 1px;
  position: relative;
  box-sizing: border-box;
}

.water {
  background-color: blue;
}

.land {
  background-color: #ffbe0b;
}

.table {
  background-color: white;
}